<!DOCTYPE html>

<!--创建于2023/2/2 17:41:25-->

<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>编程编程还是编程(开发中)</title>
    <!--服务器-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!--本地开发-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="text-center fw-bolder h1"><h1 style="font-family: 'Anonymous Pro',serif" class="badge bg-primary">This website is under development&#128516;</h1> </div>

    <div class="text-center fw-bolder h1"><h1 style="font-family: 'Anonymous Pro',serif">Welcome! I am Wu Le.</h1> </div>
    <div class="text-center fw-bolder h1"><h1 style="font-family: 'Anonymous Pro',serif">A college student at Hanjiang Normal University.</h1> </div>
    <div class="text-center h6">
        <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <p style="float:left;height:20px;line-height:20px;margin: 0 0 0 5px; color:#939393;">ICP备案:鄂ICP备2023000925号-1</p>
            </a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42118102000331" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/img/beian.png" style="float:left;" alt="图片"/>
<!--                <img src="/static/img/beian.png" style="float:left;" alt="图片"/>-->
                <p style="float:left;height:20px;line-height:20px;margin: 0 0 0 5px; color:#939393;">鄂公网安备 42118102000331号</p>
            </a>
        </div>
    </div>

</div>


<!--服务器-->
<script src="/js/bootstrap.min.js"></script>

<!--本地开发-->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>