<!DOCTYPE html>

<!--创建于2023/2/2 17:41:25-->

<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>开发中</title>
    <!--服务器-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!--本地开发-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>

<body>

<div class="container">
    <div class="text-center fw-bolder h1"><h1 class="badge bg-primary">开发中... &#128516;</h1> </div>
    <div class="text-center h6">ICP备案信息：<a href="https://beian.miit.gov.cn">鄂ICP备2023000925号</a></div>
</div>


<!--服务器-->
<script src="/js/bootstrap.min.js"></script>

<!--本地开发-->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>